<title>Info Doente</title>
<body style="padding:20px">
  {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Numero de Cedula</th>
          <th>Numero de Doente</th>
          <th>Data</th>
          <th>Substancia</th>
          <th>Quantidade</th>
          <th>Comprar</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
            <td>
                <form action="{{url_for('compra')}}" method="post">
                  <input type=hidden value="compraPresc" name="btn" />
                  <input type=hidden value="{{ record[0] }}" name="num_cedula" />
                  <input type=hidden value="{{ record[1] }}" name="num_doente" />
                  <input type=hidden value="{{ record[2] }}" name="data" />
                  <input type=hidden value="{{ record[3] }}" name="substancia"/>
                  <input type=hidden value="100" name="quantidade" />
                  <input type=submit value="compra" />
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p><b>Venda sem prescricao</b></p>
    <form action="{{url_for('compra')}}" method="post">
      <input type=hidden value="compra" name="btn" />
      <p>Substancia: <input type="text" name="substancia"/>
      Quantidade: <input type="text" name="quantidade"/>
      <input type="submit" value="compra"/></p>
    </form>
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
  <a href="{{ url_for('farmacia') }}">Go back</a>
</body>
</html>