<title>List Instituicoes</title>
<body style="padding:20px">
  {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Nome da instituicao</th>
          <th>Tipo</th>
          <th>Numero da Regiao</th>
          <th>Concelho</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>
              <form action="{{url_for('remove')}}" method="post">
                <input type=hidden value="RemoveInst" name="btn" />
                <input type=hidden value="{{ record[0]  }}" name="value" />
                <input type=submit value="Remove" />
              </form>
            </td>
          </tr>
        {% endfor %}
        <form action="{{url_for('inserir')}}" method="post">
            <input type=hidden value="AddInst" name="btn" />
            
            <p>Nome instituição: <input type="text" name="nome"/></p>
            <p>Tipo: <input type="text" name="tipo"/></p>
            <p>Numero regiao: <input type="text" name="regiao"/></p>
            <p>Numero concelho: <input type="text" name="concelho"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
      </tbody>
    </table>    
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</html>