<html>
<title>List Medics</title>
<body style="padding:20px">
  {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Numero de Cedula</th>
          <th>Nome do Medico</th>
          <th>Especialidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>
              <form action="{{url_for('remove')}}" method="post">
                <input type=hidden value="RemoveMedic" name="btn" />
                <input type=hidden value="{{ record[0]  }}" name="num_cedula" />
                <input type=submit value="Delete" />
              </form>
            </td>
          </tr>
        {% endfor %}
        <form action="{{url_for('inserir')}}" method="post">
          <input type=hidden value="AddMedic" name="btn" />
          
          <p>Numero Cedula: <input type="text" name="num_cedula"/></p>
          <p>Nome: <input type="text" name="nomeMedico"/></p>
          <p>Especialidade: <input type="text" name="especialidade"/></p>
          <p><input type="submit" value="Submit"/></p>
        </form>
      </tbody>      
    </table>
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</html>