<title>List Consultas</title>
<body style="padding:20px">
  {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Numero de Cedula</th>
          <th>Numero do Doente</th>
          <th>Data</th>
          <th>Nome da instituicao</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>
            <form action="{{url_for('remove')}}" method="post">
              <input type=hidden value="RemovePresc" name="btn" />
              <input type=hidden value="{{ record[0]  }}" name="value" />
              <input type=hidden value="{{ record[1]  }}" name="value2" />
              <input type=hidden value="{{ record[2]  }}" name="value3" />
              <input type=hidden value="{{ record[3]  }}" name="value4" />
              <input type=submit value="Remove" />
            </form>
            </td>
          </tr>
        {% endfor %}
        <form action="{{url_for('inserir')}}" method="post">
          <input type=hidden value="AddPresc" name="btn" />
          <p>Numero cedula: <input type="text" name="num_cedula"/></p>
          <p>Numero doente: <input type="text" name="num_doente"/></p>
          <p>Data consulta: <input type="text" name="data_consulta"/></p>
          <p>Substancia: <input type="text" name="substancia"/></p>
          <p>Quantidade: <input type="text" name="quant"/></p>
          <p><input type="submit" value="Submit"/></p>
      </form>
      </tbody>
    </table>
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</html>